/*
 * Passwords and other secrets.
 */
#ifndef _THUMPRESS_SECRETS_H_
#define _THUMPRESS_SECRETS_H_

#define WIFI_SSID       ""
#define WIFI_PASSWORD   ""

#define MQTT_BROKER     ""
#define MQTT_PORT       1883
#define MQTT_USER       ""
#define MQTT_PASSWORD   ""

#endif